header{
	background-color: #409eec;
}

a{
	text-decoration: none;
}

header>h1{
	padding: 20px;
	color: #ffffff;
	margin: 0px;
}

.top-ribbon{
	background-color: #e9e9e9;
	text-align: center;
	padding: 10px;
}

.top-ribbon>a{
	color: #000000;
	font-size: 20px;
	margin: 10px;
}

.main{
	background-color: #a2bdcc;
	margin-top: 10px;
	margin-bottom: 10px;
}

.main>h2{
	padding-left: 20px;
	padding-top: 20px;
	margin: 0px;
}

footer{
	height: auto;
	background-color: #409eec;
	padding: 10px;
}

span.copyright{
	color: white;
	padding: 10px;
}